body {
    font-family: Arial, sans-serif;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 18px;
}

h1 {
    font-size: 45px;
}

#itemForm {
    margin-top: 5%;
}

#passwordDiv {
    margin-top: 3%;
    margin-bottom: 3%;
}

#descDiv {
    margin-top: 3%;
    margin-bottom: 3%;
}

#imgDiv {
    margin-top: 3%;
    margin-bottom: 3%;
}

#priceDiv {
    margin-top: 3%;
    margin-bottom: 3%;
}

#statusDiv {
    margin-top: 3%;
    margin-bottom: 3%;
}

#itemUser {
    margin-top: 3%;
    margin-bottom: 3%;
}

button {
    font-size: 18px;
}
